<p>Desenvolvedor: {{ devLogado }}</p>
<div *ngIf="devLogado == 0" style="width: 80%; margin-left: 10%;">
    <dev-login *ngIf="login_register == 0" (userLoginEvent)="handleLogin($event)"></dev-login>
    <dev-register *ngIf="login_register == 1" (userRegisterEvent)="handleRegister($event)"></dev-register>
    <div style="display: flex; justify-content: center;">
        <a href="#" (click)="login_register = 1" *ngIf="login_register == 0" style="text-align: center;">
          Não possui conta? Clique aqui para se registrar
        </a>
        <a href="#" (click)="login_register = 0" *ngIf="login_register == 1" style="text-align: center;">
            Já possui uma conta? Clique aqui para fazer login
        </a>
    </div>
</div>
<div *ngIf="devLogado != 0">
    <a href="#" class="logout-link" (click)="devLogado = 0">Logout</a>
    <dev-info-banner [devId]="devLogado"></dev-info-banner>
    <dev-app-list [devId]="devLogado"></dev-app-list>
    <div class="accordion percent80-width" id="accountAccordion" style="width: 80%; margin-left: 10%;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="accountHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accountCollapse" aria-expanded="false" aria-controls="accountCollapse">
                    Alterar informações da conta
                </button>
            </h2>
            <div id="accountCollapse" class="accordion-collapse collapse" aria-labelledby="accountHeading" data-bs-parent="#accountAccordion">
                <div class="accordion-body">
                    <!-- Your content for changing account information goes here -->
                    <dev-editar-info [desenvolvedorId]="devLogado"></dev-editar-info>
                </div>
            </div>
        </div>
    </div>
</div>
