<div class="app-card-container">
    <h2>Seus aplicativos</h2>
    <div *ngFor="let app of applist" class="app-card">
        <h2>{{ app.nome }}</h2>
        <p class="app-card-text"><strong>Descrição:</strong> {{ app.descricao }}</p>
        <p class="app-card-text"><strong>Preço:</strong> {{ app.preco | currency }}</p>
        <div class="app-card-right">
            <input #valor type="number"  min="1" max="100" style="margin-right: 2px;">
            <button style="margin-left: 2px;" (click)="alterarPreco(app.id_aplicativo, valor.valueAsNumber)">Alterar preço</button>
        </div>
    </div>
    <!-- Insira aqui os campos de input de nome, descrição e preço para a inserção de novos aplicativos -->
    <!-- Assosciar o nome a variavel novo_nome, a descriçaõ a variavel novo_desc e preco a novo_preco -->
    <div class="mt-4">
        <h3>Adicionar Novo Aplicativo</h3>
        <form class="row g-3">
            <div class="col-md-4">
                <label for="novoNome" class="form-label">Nome</label>
                <input type="text" id="novoNome" class="form-control" [(ngModel)]="novo_nome" name="novoNome" required>
            </div>
            <div class="col-md-4">
                <label for="novoDesc" class="form-label">Descrição</label>
                <input type="text" id="novoDesc" class="form-control" [(ngModel)]="novo_desc" name="novoDesc" required>
            </div>
            <div class="col-md-4">
                <label for="novoPreco" class="form-label">Preço</label>
                <input type="number" id="novoPreco" class="form-control" [(ngModel)]="novo_preco" name="novoPreco" min="0" step="0.01" required>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success" (click)="adicionarApp()">Adicionar Aplicativo</button>
            </div>
        </form>
    </div>
</div>